$dark-blue: #2F384B;
$white: #fff;
$black: #000;
$grey: #8d8c8c;
$orange: #f47721;

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* nav-header */
.navbar-cus {
  background: $dark-blue;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
  .brand {
    color: $orange;
    text-decoration: none;
  }
  .nav>li>a:hover {
    background-color: $dark-blue;
  }
  .navbar-nav>li>a {
    color: $white;
  }
  .navbar-nav>.active>a {
    color: $orange;
  }
}

/*head*/
.main-header {
  margin-top: 50px;
  padding-top: 80px;
  color: inherit;
  background-color: $dark-blue;
  display: block;
  height:370px;
}
.text-header {
  color: $white;
  font-size: 58px;
  text-align: center;
  margin-top: 65px;
}
.content-header {
  color: $orange;
  text-align: center;
  font-size: 16px}

/* content*/
.text-content-hdr {
  font-size: 38px;
  margin-top: 55px;
}
.text-content-details {
  margin: 15px 0 0;
  color: $grey;
}
.main-text {
  margin-bottom: 65px;
  flex: 1;
}
.btn-cus {
  padding: 12px;
  border-radius: 0;
  color: $white;
  background-color: $orange;
  border-color: $orange;
  width: 230px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 55px;
}
.btn:hover {
  background: darken($orange,10%);
  color: $white;
  text-decoration: none;
}
.nav>li>a:focus {
  text-decoration: none;
  background-color: #2F384B;
}

/*footer*/
.main-footer {
  background-color: $dark-blue;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px 0;
  line-height: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-link {
  a {
    color: $white;
    text-decoration: none;
  }
  padding: 10px;
}

.main-content {
  text-align: center;
}
.main-regis-photo {
  flex: 1;
  background: $dark-blue;
  margin: 0;
}