body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* nav-header */
.navbar-cus {
  background: #2F384B;
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  border-radius: 0;
}

.navbar-cus .brand {
  color: #f47721;
  text-decoration: none;
}

.navbar-cus .nav > li > a:hover {
  background-color: #2F384B;
}

.navbar-cus .navbar-nav > li > a {
  color: #fff;
}

.navbar-cus .navbar-nav > .active > a {
  color: #f47721;
}

/*head*/
.main-header {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 80px;
  color: inherit;
  background-color: #2F384B;
  display: block;
  height: 370px;
}

.text-header {
  color: #fff;
  font-size: 58px;
  text-align: center;
  margin-top: 65px;
}

.content-header {
  color: #f47721;
  text-align: center;
  font-size: 16px;
}

/* content*/
.text-content-hdr {
  font-size: 38px;
  margin-top: 55px;
}

.text-content-details {
  margin: 15px 0 0;
  color: #8d8c8c;
}

.main-text {
  text-align: center;
  margin-bottom: 65px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.btn-cus {
  padding: 12px;
  border-radius: 0;
  color: #fff;
  background-color: #f47721;
  border-color: #f47721;
  width: 230px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 55px;
}

.btn:hover {
  background: #d75e0b;
  color: #fff;
  text-decoration: none;
}

.nav > li > a:focus {
  text-decoration: none;
  background-color: #2F384B;
}

/*footer*/
.main-footer {
  background-color: #2F384B;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 15px 0;
  line-height: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-link {
  padding: 10px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
}
