.panel-main {
  background: #ddd;
  border-radius: 1px;
}

.panel-image {
  position: relative;
}

.panel-image img.panel-image-preview {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.panel-image label {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0px;
}

.panel-body {
  overflow: hidden;
}

.panel-image ~ .panel-footer a {
  padding: 0px 10px;
  font-size: 1.3em;
  color: #646464;
}

.panel-title-left {
  color: #2F384B;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.panel-title-right {
  color: #999999;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.btn-del {
  background: #f5f5f5;
  margin-top: -6px;
}

.btn-del:hover {
  background: #f5f5f5;
  color: #fff;
  text-decoration: underline;
}

.thumbnail-main {
  margin-top: 40px;
}
